        .bash_history
        .gitconfig
        .minttyrc
        .receitanet/
        .rfb/
        .viminfo
        .vscode/
        AppData/
        Backp/
        Downloads/
        NTUSER.DAT
        NTUSER.DAT{b4d9e084-8776-11eb-a04b-5cf9dddd46d2}.TM.blf
        NTUSER.DAT{b4d9e084-8776-11eb-a04b-5cf9dddd46d2}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{b4d9e084-8776-11eb-a04b-5cf9dddd46d2}.TMContainer00000000000000000002.regtrans-ms
        Novo Documento de Texto.html
        OneDrive/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini
        regwizard.log
        sanct.log
